/* BereavementAndLossPage.css */
.bereavement-loss-container {
  background-color: #f4d8c6; /* Choose a background color that matches your design */
  color: #4f2c1d; /* Choose a text color that matches your design */
  padding: 20px;
  font-family: Arial, sans-serif;
}

.bereavement-loss-container h1 {
  text-align: center;
}

.bereavement-loss-container ul {
  list-style: inside square;
}

.bereavement-loss-container a {
  color: #4f2c1d; /* Same as text color for consistency */
  text-decoration: none;
}

.bereavement-loss-container a:hover {
  text-decoration: underline;
}

.bereavement-loss-container p {
  margin-bottom: 15px;
}