.home-page {
  background-color: #e89059;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-text {
  position: absolute;
  top: 5%;
  left: 5%;
  color: #702b00;
  font-size: larger;
}

.pic-of-the-day {
  position: absolute;
  top: 8%;
  width: 90%;
  height: 37%;
  background-color: beige;
  border-radius: 10px;
  max-width: 400px;
}

.slider-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.wellbeing-button {
  position: absolute;
  top: 47%;
  width: 90%;
  height: 20%;
  background-color: beige;
  border-radius: 10px;
  max-width: 400px;
}

.events-button {
  position: absolute;
  top: 69%;
  width: 90%;
  height: 20%;
  background-color: beige;
  border-radius: 10px;
  max-width: 400px;
}

.search-icon {
  position: absolute;
  bottom: 3%;
  right: 6%;
  color: beige;
  font-size: xx-large;
}

@media screen and (min-width: 450px) {
  .search-icon {
    right: 50%; /* Keep it centered horizontally */
    transform: translateX(50%) translateX(180px); /* Move 200px to the right */
  }
}

.home-icon {
  position: absolute;
  bottom: 3%;
  left: 6%;
  color: beige;
  font-size: xx-large;
}

@media screen and (min-width: 450px) {
  .home-icon {
    left: 50%; /* Keep it centered horizontally */
    transform: translateX(-50%) translateX(-180px); /* Move 200px to the left */
  }
}

.profile-icon {
  position: absolute;
  bottom: 3%;
  right: 25%;
  color: beige;
  font-size: xx-large;
}
@media screen and (min-width: 450px) {
  .profile-icon {
    right: 50%; /* Keep it centered horizontally */
    transform: translateX(50%) translateX(110px); /* Move 200px to the right */
  }
}

.upload-button {
  position: absolute;
  top: 3%;
  right: 5%;
}

.custom-label {
  background-color: #e89059;
  color: white;
  font-size: 14px;
  border-radius: 10px;
  padding: 5px 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.img {
  position: absolute;
  right: 10%;
  height: 100%;
}
