.login_page {
  background-color: #fae7ce;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-login {
  position: absolute;
  font-size: xx-large;
  top: 20%;
}
.email {
  position: absolute;
  font-size: large;
  top: 40%;
  left: calc(50% - 170px);
}

.email_field {
  position: absolute;
  background-color: transparent;
  top: 47%;
  width: 340px;
  border: none;
  border-bottom: 3px solid #e89059;
  font-size: x-large;
}

.password {
  position: absolute;
  font-size: large;
  top: 55%;
  left: calc(50% - 170px);
}

.password_field {
  position: absolute;
  background-color: transparent;
  top: 62%;
  width: 340px;
  border: none;
  border-bottom: 3px solid #e89059;
  font-size: x-large;
}

.login_button {
  font-size: larger;
  position: absolute;
  bottom: 10%;
  width: 300px;
  height: 60px;
  text-decoration: none;
  background: #e89059;
  padding: 8px 15px;
  color: #fae7ce;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_button:hover {
  background: #fae7ce;
  color: #e89059;
}

.back_button {
  color: #e89059;
  position: absolute;
  font-size: x-large;
  top: 15%;
  left: calc(50% - 170px);
}
